{%extends 'base.html'%}
{%block title%} contact us {% endblock title%}
{% block body %}
<div class="container">
    <img src="https://source.unsplash.com/random/1200x400/?wallpaper,landscape">
    <h2 class="text-center"> contact us</h2>
    <form>
        <input class="form-control form-control-lg" type="text" placeholder=".etner your name" aria-label=".enter your name">
<input class="form-control" type="text" placeholder="enter your email id" aria-label="enter your emailid">
<input class="form-control form-control-sm" type="text" placeholder=".contact no" aria-label=".contact no">
    </form>
</div>
{%endblock body%}
